<div class="container-fluid py-5" id="about">
    <div class="container">
        <div class="position-relative d-flex align-items-center justify-content-center">
            <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #666666;">@localizer.GetKey("Hakkında").Value</h1>
            <h1 class="position-absolute text-uppercase text-primary">@localizer.GetKey("Hakkımda").Value</h1>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-5 pb-4 pb-lg-0">
                <img class="img-fluid rounded w-100" src="~/portfolyo/img/cs.jpg" alt="Alparslan Akbaş">
            </div>
            <div class="col-lg-7">
                <h3 class="mb-4">Software Developer / .Net Developer</h3>
                <p>
                    @localizer.GetKey("Yazılım kariyerime başlamadan önce, lise yıllarımda çeşitli platformlarda web sitesi hackleme projeleri üzerinde çalışıyordum. Lisenin son yıllarında Java ile tanıştım, ancak o dönemde daha fazla Türkçe kaynak C# için mevcuttu. Bu nedenle kariyerime C# ile başladım. Üniversitede bilgisayar mühendisliği okumak istedim, ancak iki kez denememe rağmen başarılı olamadım, bu yüzden bilgisayar programcılığı alanında mezun oldum. Mezun olduktan sonra 2 yıl boyunca C# ve .Net üzerinde çalışarak kendimi geliştirdim. Ağustos 2022'den Ocak 2023'e kadar, 6 ay boyunca Ankara'daki OdakGIS şirketinde yazılım geliştirici olarak çalıştım. Şu an serbest çalışan olarak projeler satıyorum, ancak asıl hedefim kendimi geliştirebileceğim ve deneyim kazanabileceğim şirketlerle çalışmaktır. Ankara, İzmir ve Bursa gibi yerlerde işyerinde çalışabilirim, ancak genel tercihim uzaktan çalışmadır. İş tekliflerinizi bekliyorum.").Value
                </p>
                <div class="row mb-3">
                    <div class="col-sm-6 py-2"><h6>@localizer.GetKey("Ad Soyad :").Value <span class="text-secondary">@localizer.GetKey("Alparslan Akbaş").Value</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>@localizer.GetKey("Doğum Tarihi :").Value <span class="text-secondary">@localizer.GetKey("3 Ocak 1999").Value</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>@localizer.GetKey("Denklik :").Value <span class="text-secondary">@localizer.GetKey("Meslek Yüksekokulu").Value</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>@localizer.GetKey("Deneyim :").Value <span class="text-secondary">@localizer.GetKey("3 Yıl").Value</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>@localizer.GetKey("Telefon :").Value <span class="text-secondary">@localizer.GetKey("+90 545 293 2911").Value</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>@localizer.GetKey("Mail :").Value <span class="text-secondary">@localizer.GetKey("bybluestht@gmail.com").Value</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>@localizer.GetKey("Adres :").Value <span class="text-secondary">@localizer.GetKey("Domaniç, Kütahya, Türkiye").Value</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>@localizer.GetKey("Durum :").Value <span class="text-secondary">@localizer.GetKey("Serbest").Value</span></h6></div>
                </div>
            </div>
        </div>
    </div>
</div>