<div class="container-fluid py-5" id="about">
    <div class="container">
        <div class="position-relative d-flex align-items-center justify-content-center">
            <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #666666;">@localizer.GetKey("Hakkında").Value</h1>
            <h1 class="position-absolute text-uppercase text-primary">@localizer.GetKey("Hakkımda").Value</h1>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-5 pb-4 pb-lg-0">
                <img class="img-fluid rounded w-100" src="~/portfolyo/img/cs.jpg" alt="Alparslan Akbaş">
            </div>
            <div class="col-lg-7">
                <h3 class="mb-4">Software Developer / .Net Developer</h3>
                <p>
                    @localizer.GetKey("24 Yaşındayım ve Kütahya'da İkamet Ediyorum. Üniversite Yıllarımdan Beri .Net Alanında Kendimi Geliştiriyorum. Yazılıma Olan İlgim Çok Büyük, Kendime Yenilikler Katmak İçin Elimden Geldiğince Çabalıyorum. Esas Olarak .Net ve Angular Tarafında Projeler Geliştiriyorum. OpenLayers Kütüphanesi Hakkında Temel Bilgim Var. Okulun İnternet Sitesinde 3 Aydır .Net Stajım Var. OdakGİS Firmasında 10 Ay Yazılım Geliştirici Olarak Çalıştım. Ankara, İzmir ve Bursa İlleri İçin İkamet Sorunum Yok.").Value
                </p>
                <div class="row mb-3">
                    <div class="col-sm-6 py-2"><h6>@localizer.GetKey("Ad Soyad :").Value <span class="text-secondary">@localizer.GetKey("Alparslan Akbaş").Value</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>@localizer.GetKey("Doğum Tarihi :").Value <span class="text-secondary">@localizer.GetKey("3 Ocak 1999").Value</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>@localizer.GetKey("Denklik :").Value <span class="text-secondary">@localizer.GetKey("Meslek Yüksekokulu").Value</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>@localizer.GetKey("Deneyim :").Value <span class="text-secondary">@localizer.GetKey("3 Yıl").Value</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>@localizer.GetKey("Telefon :").Value <span class="text-secondary">@localizer.GetKey("+90 545 293 2911").Value</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>@localizer.GetKey("Mail :").Value <span class="text-secondary">@localizer.GetKey("bybluestht@gmail.com").Value</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>@localizer.GetKey("Adres :").Value <span class="text-secondary">@localizer.GetKey("Domaniç, Kütahya, Türkiye").Value</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>@localizer.GetKey("Durum :").Value <span class="text-secondary">@localizer.GetKey("Serbest").Value</span></h6></div>
                </div>
            </div>
        </div>
    </div>
</div>