<div class="container-fluid pt-5" id="service">
    <div class="container">
        <div class="position-relative d-flex align-items-center justify-content-center">
            <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #666666;">@localizer.GetKey("Hizmetler").Value</h1>
            <h1 class="position-absolute text-uppercase text-primary">@localizer.GetKey("Hizmetlerim").Value</h1>
        </div>
        <div class="row pb-3">
            <div class="col-lg-4 col-md-6 text-center mb-5">
                <div class="d-flex align-items-center justify-content-center mb-4">
                    <i class="fa fa-2x fa-laptop service-icon bg-primary text-white mr-3"></i>
                    <h4 class="font-weight-bold m-0">@localizer.GetKey("Web Tasarım").Value</h4>
                </div>
                <p>@localizer.GetKey("En Güncel Web Tasarım Şablonları İle Web Sitelerinizi Yeniden Tasarlamak veya Kişisel Zevkinize Özel Bir Tasarım Sunabiliyorum.").Value</p>
            </div>
            <div class="col-lg-4 col-md-6 text-center mb-5">
                <div class="d-flex align-items-center justify-content-center mb-4">
                    <i class="fa fa-2x fa-laptop-code service-icon bg-primary text-white mr-3"></i>
                    <h4 class="font-weight-bold m-0">@localizer.GetKey("Web Kodlama").Value</h4>
                </div>
                <p>@localizer.GetKey("Okunulabilir Kod Dizaynı İle Clean Codes Presibini Aratmayan, Performans Bazlı Kodlar İle Size Hizmet Etmekteyim.").Value</p>
            </div>
            <div class="col-lg-4 col-md-6 text-center mb-5">
                <div class="d-flex align-items-center justify-content-center mb-4">
                    <i class="fa fa-2x fa-search service-icon bg-primary text-white mr-3"></i>
                    <h4 class="font-weight-bold m-0">@localizer.GetKey("SEO").Value</h4>
                </div>
                <p>@localizer.GetKey("Uzun Zamandır Bireysel ve Kurumsal Firmalar İçin Serbest (freelance) Web Siteleriniz İçin SEO Hizmeti Vermekteyim.").Value</p>
            </div>
        </div>
    </div>
</div>