<div class="container-fluid py-5" id="testimonial">
    <div class="container">
        <div class="position-relative d-flex align-items-center justify-content-center">
            <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #666666;">Motive</h1>
            <h1 class="position-absolute text-uppercase text-primary">@localizer.GetKey("Sözler").Value</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="owl-carousel testimonial-carousel">
                    <div class="text-center">
                        <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                        <h4 class="font-weight-light mb-4">@localizer.GetKey("'Çalışmaktan; Gayret Sarfından, Bir Cezadan, Bir Sıkıntıdan, Bir Fenalıktan Kaçar Gibi Kaçınmak, Çok Kötü ve Tedbirsizce Bir Harekettir.'").Value</h4>
                        <img class="img-fluid rounded-circle mx-auto mb-3" src="~/portfolyo/img/220px-Atatürk,_Trakya_Manevraları_(8).jpg" style="width: 80px; height: 80px;" alt="Mustafa Kemal Atatürk">
                        <h5 class="font-weight-bold m-0">@localizer.GetKey("Mustafa Kemal Atatürk").Value</h5>
                        <span>@localizer.GetKey("Türkiye Cumhuriyet Kurucusu").Value</span>
                    </div>
                    <div class="text-center">
                        <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                        <h4 class="font-weight-light mb-4">@localizer.GetKey("'Herhangi Bir Şahsın, Yaşadıkça Memnun ve Mesut Olması İçin Lazım Gelen Şey, Kendisi İçin Değil, Kendisinden Sonra Gelecekler İçin Çalışmaktır. Hayatta Tam Zevk ve Saadet Ancak Gelecek Nesillerin Şerefi, Varlığı, Saadeti İçin Çalışmakta Bulunabilir.'").Value</h4>
                        <img class="img-fluid rounded-circle mx-auto mb-3" src="~/portfolyo/img/220px-Atatürk,_Trakya_Manevraları_(8).jpg" style="width: 80px; height: 80px;" alt="Mustafa Kemal Atatürk">
                        <h5 class="font-weight-bold m-0">@localizer.GetKey("Mustafa Kemal Atatürk").Value</h5>
                        <span>@localizer.GetKey("Türkiye Cumhuriyet Kurucusu").Value</span>
                    </div>
                    <div class="text-center">
                        <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                        <h4 class="font-weight-light mb-4">@localizer.GetKey("'Yalnız Tek Bir Şeye İhtiyacımız Vardır, Çalışkan Olmak. Servet ve Onun Tabii Neticesi Olan Refah ve Saadet Yalnız ve Ancak Çalışkanların Hakkıdır.'").Value</h4>
                        <img class="img-fluid rounded-circle mx-auto mb-3" src="~/portfolyo/img/220px-Atatürk,_Trakya_Manevraları_(8).jpg" style="width: 80px; height: 80px;" alt="Mustafa Kemal Atatürk">
                        <h5 class="font-weight-bold m-0">@localizer.GetKey("Mustafa Kemal Atatürk").Value</h5>
                        <span>@localizer.GetKey("Türkiye Cumhuriyet Kurucusu").Value</span>
                    </div>
                    <div class="text-center">
                        <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                        <h4 class="font-weight-light mb-4">@localizer.GetKey("'Saygı İstiyorsanız, Önce Kendinize Saygı Göstereceksiniz. Herkesten Üstün Değiliz Ama Kimseden de Aşağı Değiliz. Kendimizle İftihar Edelim Ki Başkası da Bize Saygı Göstersin.'").Value</h4>
                        <img class="img-fluid rounded-circle mx-auto mb-3" src="~/portfolyo/img/s-6085f15767d652e39af20272ed36cbc432504c0d.jpg" style="width: 80px; height: 80px;" alt="Aziz Sancar">
                        <h5 class="font-weight-bold m-0">Aziz Sancar</h5>
                        <span>@localizer.GetKey("Profesör Doktor").Value</span>
                    </div>
                    <div class="text-center">
                        <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                        <h4 class="font-weight-light mb-4">@localizer.GetKey("'Çoğu İnsan Zekâya İnanır, Ben İnanmıyorum Bizi Birbirimizden Ayıran Emektir, Ben Çalışmaya İnanıyorum.'").Value</h4>
                        <img class="img-fluid rounded-circle mx-auto mb-3" src="~/portfolyo/img/s-6085f15767d652e39af20272ed36cbc432504c0d.jpg" style="width: 80px; height: 80px;" alt="Aziz Sancar">
                        <h5 class="font-weight-bold m-0">Aziz Sancar</h5>
                        <span>@localizer.GetKey("Profesör Doktor").Value</span>
                    </div>
                    <div class="text-center">
                        <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                        <h4 class="font-weight-light mb-4">@localizer.GetKey("'Başarılı Olmak Nobel Almak Değil, Ailenize, Ülkenize ve İnsanlığa Hizmet Etmektir.'").Value</h4>
                        <img class="img-fluid rounded-circle mx-auto mb-3" src="~/portfolyo/img/s-6085f15767d652e39af20272ed36cbc432504c0d.jpg" style="width: 80px; height: 80px;" alt="Aziz Sancar">
                        <h5 class="font-weight-bold m-0">Aziz Sancar</h5>
                        <span>@localizer.GetKey("Profesör Doktor").Value</span>
                    </div>
                    <div class="text-center">
                        <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                        <h4 class="font-weight-light mb-4">@localizer.GetKey("'Devler Gibi Eserler Bırakmak İçin, Karıncalar Gibi Çalışmak Gerekir.'").Value</h4>
                        <img class="img-fluid rounded-circle mx-auto mb-3" src="~/portfolyo/img/necip-fazil-kisakurek-kitaplari.jpg" style="width: 80px; height: 80px;" alt="Necip Fazıl Kısakürek">
                        <h5 class="font-weight-bold m-0">@localizer.GetKey("Necip Fazıl Kısakürek").Value</h5>
                        <span>@localizer.GetKey("Şair").Value</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>